<!-- Estructura de la página de error 404 -->
<ion-content class="error404-page" fullscreen>

    <div class="container">
        <!-- Cara de error: Súper Grande -->
        <div class="error-face">😵</div>

        <!-- Título principal -->
        <h1 class="main-title">ERROR 404</h1>

        <!-- Mensaje descriptivo centrado -->
        <p class="message-text">La página que buscas no existe o ha sido movida.</p>

      
        <ion-button color="primary" expand="block" class="action-button-ionic" (click)="goToConfig()">
            IR A CONFIGURACIÓN
        </ion-button>

  
        <div class="orb"></div>
        <div class="orb-small"></div>
    </div>

</ion-content>